{% extends "base.html" %}


{% block content %}

{% if question.type == "img" %}

    <div class="picquestion">
        <h3>{{question.title}}</h3>
        <p>{{question.question}}</p>
        <ul class="answer-list">
            {% for answer in question.answers %}
                <li>

                    <a href="/answer/{{question.id}}/{{answer.id}}">
                        <img src="{{answer.src}}" alt="" width="250px">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% else %}


    <div class="question">
        <h3>{{question.title}}</h3>
        <p>{{question.question}}</p>
        <ul class="answer-list">
            {% for answer in question.answers %}
                <li class="answer-item">

                    <a href="/answer/{{answer.id}}/{{answer.id}}">
                        {{answer.text}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endif %}
{% endblock %}
